@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main: #14984f;

}

* {
  margin: 0;
  padding: 0;
  font-family: "Gess";

  box-sizing: border-box;
}

.hover-main:hover {
  box-shadow: 0 0 8px var(--main);
  transition: 0.3s;
}

@font-face {
  font-family: "Gess";
  src: url("/fonts/ArbFONTS-GE_SS_Two_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gess";
  src: url("/fonts/ArbFONTS-GE_SS_Two_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gess";
  src: url("/fonts/ArbFONTS-GE_SS_Two_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Gess";
  direction: rtl;
  background-color: #FAFFFC;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
